name: Deploy Microservices Application Infrastructure

on:
  push:
    branches:
      - main

    paths:
      - 'terraform/shared_modules/**'
      - '.github/workflows/infra.yml'

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    defaults:
        run:
            working-directory: terraform/shared_modules
        

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: eu-north-1

      - name: Set up terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: '1.5.0'

    
      - name: Terraform Init
        run: terraform init
        
      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -var-file="dev.tfvars"

      - name: Terraform Apply
        run: terraform apply -var-file="dev.tfvars" -auto-approve

      
      

    

      # - name: Terraform destroy
      #   run: terraform destroy -var-file="dev.tfvars" -auto-approve